<div class="bottom_banner">

<div class="title"><strong>Современные<br />VRV и VRF решения</strong>
по кондиционированию и вентиляции на базе мультизональных систем</div>
<div class="prods_list clearfix">

<a href="<%= Article.find(1110).url -%>" class="item"><img src="/assets/images/banner_img1.png" alt="" />
больших квартир<br />и коттеджей</a>

<a href="<%= Article.find(1111).url -%>" class="item"><img src="/assets/images/banner_img2.png" alt="" />
банков<br />и офисов</a>

<a href="<%= Article.find(1115).url -%>" class="item"><img src="/assets/images/banner_img3.png" alt="" />
гостиниц<br />и магазинов</a>

<a href="<%= Article.find(1116).url -%>" class="item"><img src="/assets/images/banner_img4.png" alt="" />
ресторанов<br />и точек питания</a>

<a href="<%= Article.find(1112).url -%>" class="item"><img src="/assets/images/banner_img5.png" alt="" />
производственных<br />помещений</a>

</div>
</div>