        <ul class="catalog">
        <% for c in @categories -%>
        <%
           cids = Category.find_by_sql("SELECT `categories`.id FROM `categories` WHERE `categories`.`parent_id` IN (#{c.child_ids.join(',')})")
           cids = cids.map{|cc| cc.id.to_s} + c.child_ids + [c.id]
           bids = Batch.find_by_sql("SELECT DISTINCT `batches`.brand_id FROM `batches` WHERE `batches`.`brand_id`=#{@brand.id} AND `batches`.`category_id` IN (#{cids.join(',')})")
        %>
        <% if !bids.empty? %>
          <%# c = Category.find(c) %>
          <li><a href="<%= c.brand_url(@brand) -%>"><%= raw c.title.to_s -%></a>
            <ul>
            <% for c2 in c.children -%>
            <%
               cids = c2.child_ids + [c2.id]
               bids = Batch.find_by_sql("SELECT DISTINCT `batches`.brand_id FROM `batches` WHERE `batches`.`brand_id`=#{@brand.id} AND `batches`.`category_id` IN (#{cids.join(',')})")
            %>
            <% if !bids.empty? %>
              <li><a href="<%= c2.brand_url(@brand) -%>"><%= raw c2.title.to_s -%></a>
                <%
                   bids = []
                   cids = c2.child_ids
                   if !cids.empty?
                     bids = Batch.find_by_sql("SELECT DISTINCT `batches`.brand_id FROM `batches` WHERE `batches`.`brand_id`=#{@brand.id} AND `batches`.`category_id` IN (#{cids.join(',')})")
                   end
                %>
                <% if !bids.empty? %>
                  <ul style="margin-left:18px; font-size:11px!important; color:#990;">
                  <% for c3 in c2.children -%>
                  <% if c3.batches -%>
                     <li><a href="<%= c3.brand_url(@brand) -%>"><%= raw c3.title.to_s -%></a>
                  <% end -%>
                  <% end -%>
                  </ul>
                <% end -%>
              </li>
            <% end -%>
            <% end -%>
            </ul>
          </li>
        <% end -%>
        <% end -%>
        </ul>
