  <!--wrap-->
  <div id="wrap" class="col3_layout col2_layout2 clearfix">
    <!--content-->
    <div class="content clearfix">
      <div class="col_a col_a_catalog">

        <%= render "shared/menu_left_page" -%>
        <%#= render "shared/menu_left_yellow" -%>
        <%= render "shared/banners_left_yellow" -%>

      </div>
      <div class="col_b clearfix">
        <div class="catitem_description">

          <% if @article.body !~ /<[h|H]1>/ %>
          <h1><%= @article.title  -%></h1>
          <% end %>

          <% tx = '<p class="salephone">Консультация и подбор оборудования по телефону: 8 (495) 662-58-76</p>'
             if @article and @article.body
                @article.body.gsub!(/<!--salephone-->/, tx)
             end
          -%>
          <%#= @article.preview   -%>
          <%= raw @article.body   -%>

        <% for brand in @brands %>

        <!-- width: 250 px  !important; height: 1250 px !important; display:inline !important; -->

        <div style=" background-color: none; display:block; width: 270 px; height: 300 px;  float:left; padding:30px;">
          <a href="<%= brand.url -%>">
            <img alt="" src="<%= brand.logo_large.url -%>" width="180" height="120" /></a>
          <p style="font-size:9px;">
            <a href="<%= brand.article.url -%>"> Описание <%= raw brand.title -%> </a>
            <% if brand.article.children %>  <br />
              <a href="<%= brand.article.children[0].url -%>">История <%= raw brand.title -%></a>
            <% end %>
          </p>
          <p>
            <% if brand.foundation_year -%>
            <a href="<%= brand.url -%>"><%= brand.foundation_year.to_s -%></a>
            <% end %>
              &nbsp;
            <% if brand.country -%>
            <a href="<%= brand.url -%>"><%= brand.country.to_s -%></a>
            <% end %>
          </p>
        </div>
        <% end %>



        </div>
      </div>
    </div>
    
    <!--content end--> 
  </div>
  <!--wrap end--> 



