  <!--wrap-->
  <div id="wrap" class="col3_layout col2_layout2 clearfix">
    <!--content-->
    <div class="content clearfix">
      <div class="col_a col_a_catalog">

        <%= render "shared/menu_left_page" -%>
        <%#= render "shared/menu_left_yellow" -%>
        <%= render "shared/banners_left_yellow" -%>

      </div>
      <div class="col_b clearfix">
        <div class="catitem_description">

          <% if @article.body !~ /<[h|H]1>/ %>
          <h1><%= @article.title  -%></h1>
          <% end %>

          <% tx = '<p class="salephone">Консультация и подбор оборудования по телефону: 8 (495) 662-58-76</p>'
             if @article and @article.body
                @article.body.gsub!(/<!--salephone-->/, tx)
             end
          -%>
          <%#= @article.preview   -%>
          <%= raw @article.body   -%>



    <% [true, false].each do |kond| %>
    <% for brand in @brands %>
      <% if kond
           kondv = brand.has_cond
         else
           kondv = !brand.has_cond
         end
      %>
      <% if kondv %>
        <div style=" background-color: none; display:block; width: 270 px; height: 260 px;  float:left; padding:30px; padding-top:0px;">
          <a href="<%= brand.url -%>">
            <img alt="<%= raw brand.title -%>" src="<%= brand.logo_small.url -%>" width="120" height="80" /></a>

          <br><a href="<%= brand.url -%>"><b><%= raw brand.title -%></b></a> (<%= brand.country.to_s -%>)
          <br><%= technic_type_name(false, brand) -%>
          <br><a href="<%= brand.url -%>">Оборудование</a> |
              <a href="<%= brand.article.children[1].url -%>"> Описание марки</a> <!-- |
              <a href="<%= brand.article.children[0].url -%>"> История</a>          -->
          <br>    
          <div style="width:180px;display:block;"></div>
        </div>
      <% end %>
    <% end %>
        <% if kond %>
            <br clear ="all">
            <div style="display:block; width: 770 px; height: 20 px;  float:left; padding:30px;"><hr>
                <h2> Производители вентиляционного оборудования </h2>
            </div>
        <% end %>
    <% end %>



        </div>
      </div>
    </div>
    
    <!--content end--> 
  </div>
  <!--wrap end--> 



