    <!--content-->
    <div class="content clearfix">
      <div class="col_a col_a_catalog">

        <%= render "shared/menu_left_page" -%>

        <%#= render "shared/menu_left_yellow" -%>
        
        <%= render "shared/banners_left_yellow" -%>

      </div>
      <div class="col_b clearfix">
        <div class="catitem_description">
          <h2><a href="">Мультисплит-системы</a></h2>
          <h3>СЕРИЯ DEFTY &bull; Настенный тип</h3>
          <p><img src="" alt="" /></p>



<hr>
<%= @article.title  -%> /// <%= @article.meta_tag.url  -%>

<hr>
<%= @article.preview   -%>

<hr>
<%= raw @article.body   -%>

<hr>



        </div>
      </div>
    </div>
    
    <!--content end--> 



