<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= article_title @meta_tag if @meta_tag -%> Пути Ветра</title>
<meta name="description" content="<%= article_description @meta_tag if @meta_tag -%>">
<meta name="keywords" content="<%= article_keywords       @meta_tag if @meta_tag -%>">
<meta name="autor" content="Вадим, Максим sale@putivetra.ru">
<meta name="copyright" content="ООО Пути Ветра, кондиционирование и вентиляция" />
<link href="/assets/css/reset.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/css/fonts/fonts.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/css/typography.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/css/forms.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/css/layout.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/css/print.css" rel="stylesheet" type="text/css" media="print" />
<!--[if lt IE 9]><link href="/assets/css/ie.css" rel="stylesheet" type="text/css" media="all" /><![endif]-->
<script type="text/javascript" src="/assets/js/jquery-1.8.1.min.js"></script>
<%#  script type="text/javascript" src="/assets/js/jquery-1.4.2.min.js"></script  -%>
<script type="text/javascript" src="/assets/js/js.common.js"></script>
<script src="http://code.jivosite.ru/script/widget/556"></script>

<% if controller_name == "articles" and action_name == "index" -%>
<%# script type="text/javascript" src="/assets/js/swfobject.js"></script %>
<script language="javascript">AC_FL_RunContent = 0;</script>
<script type="text/javascript" src="/assets/js/AC_RunActiveContent.js"></script>
<!-- style media="screen" type="text/css">#main_page_bjn_flash {visibility:hidden}</style -->
<% end -%>

</head>

<body>
<!-- Yandex.Metrika counter -->
<script src="http://mc.yandex.ru/metrika/watch.js"
	type="text/javascript"></script>
<div style="display: none;"><script type="text/javascript">
	var yaCounter4551751 = new Ya.Metrika(4551751);
	yaCounter4551751.clickmap(true);
</script></div>
<noscript>
<div style="position: absolute"><img
	src="http://mc.yandex.ru/watch/4551751" alt="" /></div>
</noscript>
<!-- /Yandex.Metrika counter -->

<!--layout-->
<div id="layout"> 
  <!--header-->
  <div id="header" class="clearfix"> 
    <!--site logo-->
    <div class="logo"><a href="/"<%# title="seo title" -%>><%= article_title @meta_tag -%></a></div>
    <!--site logo end--> 
    <!--slogan-->
    <div class="slogan">КОНДИЦИОНЕРЫ * ВЕНТИЛЯЦИЯ * VRV-VRF СИСТЕМЫ<%# * ЭЛЕКТРООТОПЛЕНИЕ -%></div>
    <!--slogan end--> 
    <!--phone-->
    <div class="phone"><span>(495)</span> 662-58-76</div>
    <!--phone end--> 
    <!--description-->
    <div class="description"> климатическая компания <span>Официальный дилер</span> </div>
    <!--description end-->
    <a href="/searching.html" class="search_params">параметрический поиск</a>
    <!--cart-->
    <div class="cart">
      <div class="c">
      <% if false -%>
        <div class="user_name"><span>Имя Фамилия</span> Добрый день!</div>
        <!--cart items-->
        <a href="" class="cart_items">
          <span class="col_a">В корзине<br />
            5 товаров </span>
          <span class="col_b">На сумму<br />
            12 345 678 руб.</span>
        </a>
        <!--cart items end-->
      <% else -%>
        <div class="user_name"><span></span> Добрый день!</div>
        <a x_href="" class="cart_items">
          Ваша корзина пуста
        </a>
      <% end -%>
      </div>
    </div>
    <!--cart end--> 
    <!--search-->
    <form action="/searching.html">
      <div class="search">
        <input type="text" onfocus="if (this.value == 'введите слово или фразу для поиска...') { this.value=''; }" onblur="if (this.value == '') { this.value='введите слово или фразу для поиска...' }" value="введите слово или фразу для поиска..." />
        <input type="image" src="/assets/images/search_btn.png" />
      </div>
    </form>
    <!--search end--> 
  </div>
  <!--header end-->
  <div id="subheader"> 
    <!--header navigation-->
    <ul class="nav clearfix">

  <% if @topmenu_points -%>
    <% ii = 0 -%>
    <% @topmenu_points.each do |m| -%>
      <% ii = ii + 1 -%>
      <% if m.show_in_menu -%>
      <% sel = ''; sel = ' class="active"' if @selected_items_ids and @selected_items_ids.include? m.id -%>
      <li class="m<%= ii -%>"><a href="<%= m.url -%>"<%= raw sel -%>><%= m.title -%></a></li>
      <% end -%>
    <% end %>
  <% end %>
    </ul>
    <!--header navigation end--> 
    <!--sitemap links-->
    <ul class="sitemap">
      <li><a href="/"><img src="/assets/images/ico_home.png" alt="" /></a></li>
      <!--  <li><a href=""><img src="/assets/images/ico_sitemap.png" alt="" /></a></li>  -->
      <li><a href="mailto:sale@putivetra.ru"><img src="/assets/images/ico_mail.png" alt="" /></a></li>
    </ul>
    <!--sitemap links end--> 
    
  </div>
  <% if controller_name == "articles" and action_name == "index" %>
   <!-- header slider-->
   <div class="header_slider"><%= render "layouts/page_top_bayan" -%></div>
   <!-- header slider end-->
  <% else %>
   <% if @selected_items -%>
   <ul class="breadcrumbs clearfix">
    <li><a href=""><img src="/assets/images/breadcrumb_home.png" alt="" /></a></li>
    <% for item in @selected_items -%>
     <% if item == @selected_items.last -%>
       <li class="last"> <a><%= item.title -%></a></li>
     <% else -%>
       <% if item.show_in_menu %>
         <li><a href="<%= item.url -%>"><%= item.title -%></a></li>
       <% end %>
     <% end -%>
    <% end -%>
   </ul>
   <% end -%>
  <% end %>

<div style="color: red; text-align: center;">
Внимание! Редизайн сайта находится в стадии активной доработки. Некоторые функции могут не работать.
<br />Просим простить за доставленные неудобства. По всем вопросам, пожалуйста, звоните в офис: 8 495 662-58-76
</div>

<!--
<head>
  <title>Putivetra | <%#= article_title @meta_tag %></title>
  <meta name="description" content="<%#= article_description @meta_tag %>">
  <meta name="keywords" content="<%#= article_keywords @meta_tag %>">
  <%#= stylesheet_link_tag    "application" %>
  <%#= javascript_include_tag "application" %>
  <%#= csrf_meta_tags %>
</head>
-->